@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BarZ</h1>
    <h3 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color:lightslategrey">
    <br /><br /><br />
    Here you can choose 
    <br /><br /><br />
    where to spend some time with friends 
    <br /><br /><br />
    from the best bars in your area.</h3>
</div>
