@model DestinationsViewModel

@{
    ViewData["Title"] = "Destinations";
}

<div class="container">
    <div class="halfScreenBox">
        <h1 class="col-md-4">Destinations</h1>
    </div>
    <div class="halfScreenBox">
        @if (this.User.Identity.IsAuthenticated)
        {
            <a class="col-md-4 btn btn-info btnsViewRight" asp-action="Create">Add destination</a>
        }
    </div>
</div>

<hr />
<div>
    <table id="destinations">
        @foreach (var destination in Model.Destinations)
        {
            <tr>
                <td>
                    @destination.Name
                    <div class="spacer"></div>
                    <div class="btnsViewRight">
                        <a asp-controller="Destinations" asp-action="Details" asp-route-id="@destination.Id">Details</a> |
                        <a asp-controller="Bars" asp-action="ShowBarsInDestination" asp-route-id="@destination.Id">Bars</a>
                        @if (this.User.IsInRole(RolesConstants.AdminRoleName))
                        {
                            <span>|</span>
                            <a asp-controller="Destinations" asp-action="Delete" asp-route-id="@destination.Id">Delete</a>
                        }
                    </div>
                </td>
            </tr>
        }
    </table>
</div>
