@model DestinationsViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="halfScreenBox">
        <h1 display="inline" class="col-md-4">Destinations</h1>
    </div>
    <div float="right" class="halfScreenBox">
        <a style="float:right" class="col-md-4 btn btn-info" asp-action="Create">Add destination</a>
    </div>
</div>
<hr />
<div>
    <ul class="mt-3">
        @{ 
            foreach (var destination in Model.Destinations)
            {
                <li>
                    @destination.Name
                    <a asp-controller="Destinations" asp-action="Details" asp-route-id="@destination.Id">Details</a> |
                    <a asp-controller="Bars" asp-action="ShowBarsInDestination" asp-route-id="@destination.Id">Bars</a> |
                    <a asp-controller="Destinations" asp-action="Delete" asp-route-id="@destination.Id">Delete</a> 
                </li>
            }
        }
    </ul>
</div>
