@model DestinationsViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Destinations</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div>
    <ul class="mt-3">
        @{ 
            foreach (var destination in Model.Destinations)
            {
                <li>
                    @destination.Name
                    <a asp-controller="Destinations" asp-action="Details" asp-route-id="@destination.Id">Details</a>
                </li>
            }
        }
    </ul>
</div>
