@model IEnumerable<EventViewModel>

@{
    ViewData["Title"] = "Events";
}

<div class="container">
    <div class="halfScreenBox">
        <h1>Future Events:</h1>
    </div>
    <div class="halfScreenBox">
        <a class="col-md-4 btn btn-info" asp-action="PastEvents">Past Events</a>
        <a class="col-md-4 btn btn-info btnsViewRight" asp-action="Create">Add Event</a>
    </div>
</div>

@Html.Partial("EventsPartialView", Model)
