@model IEnumerable<EventViewModel>

@{
    ViewData["Title"] = "Past Events";
}

<div class="container">
    <div class="halfScreenBox">
        <h1>Past Events:</h1>
    </div>
    <div class="halfScreenBox">
        <a class="col-md-4 btn btn-info btnsViewRight" href="##" onClick="history.go(-1); return false;">Go back</a>
    </div>
</div>

@Html.Partial("EventsPartialView", Model)