@model IEnumerable<BarZ.Data.Models.Feature>

@{
    ViewData["Title"] = "Index";
}

<h1>Features List:</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<table class="table">
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FeatureName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="ShowBarsInWhichTheFeatureIsPresent" asp-route-id="@item.Id">Show Bars In Which The Feature Is Present</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
