@model IEnumerable<FeatureViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="halfScreenBox">
        <h1>Features List:</h1>
    </div>
    <div class="halfScreenBox">
        @if (this.User.Identity.IsAuthenticated)
        {
            <a class="col-md-4 btn btn-info btnsViewRight" asp-action="Create">Add feature</a>
        }
    </div>
</div>

<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FeatureName)
                </td>
                <td style="margin:auto">
                    @if (this.User.IsInRole(RolesConstants.AdminRoleName))
                    {
                        <a class="btn btn-info" asp-action="Update" asp-route-id="@item.Id">Update</a> <span>|</span>
                        <a class="btn btn-info" asp-action="Delete" asp-route-id="@item.Id">Delete</a> <span>|</span>
                    }
                    <a class="btn btn-info" asp-controller="Bars" asp-action="ShowBarsByFeature" asp-route-id="@item.Id">Bars</a>
                </td>
            </tr>
        }
    </tbody>
</table>
