@model BarZ.Areas.Bar_reviews.Models.Bars.BindingModels.BarCreateBindingModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Bar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="image" class="control-label"></label>
                <input type="file" name="Image" value="" />
            </div>
            <div class="form-group">
                <label asp-for="BeginningOfTheWorkDay" class="control-label"></label>
                <input asp-for="BeginningOfTheWorkDay" class="form-control" />
                <span asp-validation-for="BeginningOfTheWorkDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndOfTheWorkDay" class="control-label"></label>
                <input asp-for="EndOfTheWorkDay" class="form-control" />
                <span asp-validation-for="EndOfTheWorkDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacebookPageUrl" class="control-label"></label>
                <input asp-for="FacebookPageUrl" class="form-control" />
                <span asp-validation-for="FacebookPageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DestinationId" class="control-label"></label>
                <select asp-for="DestinationId" class="form-control" asp-items="ViewBag.DestinationId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
