@model IEnumerable<BarViewModel>

@{
    ViewData["Title"] = "Show Bars in Destination";
}

@{
    string heading = "At the moment there are no bars in here.";

    if (@Model.FirstOrDefault() != null)
    {
        string destination = Model.FirstOrDefault().Destination.Name;
        heading = ($"Bars in {destination}");
    }
}


<div class="container">
    <div class="halfScreenBox">
        <h1>@heading</h1>
    </div>
    <div class="halfScreenBox">
        <a class="col-md-4 btn btn-info btnsViewRight" asp-controller="Destinations" asp-action="Index">Back to destinations</a>
    </div>
</div>

<div class="container">
    @foreach (var item in Model)
    {
        @Html.Partial("ShowBarsWithFeatureOrInDestinationPartialView", item)
    }
</div>